<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Support.Mvc.Pipelines.HttpRequest.TransferMvcLayout, Sitecore.Support.96995" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.HttpRequest.TransferMvcLayout, Sitecore.Mvc']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>